* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background: #000000;
    font: 700 16px 'Montserrat';
}

/*
    Back-up
*/
#back-up {
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: solid 2px #2a2a2a;
    border-radius: 50%;
    text-align: center;
    transition: all 1s;
}

#back-up i {
    font-size: xx-large;
    color: #FAB21D;
}

/*
    Nav
*/
nav {
    padding: 10px 0;
}

nav ul {
    color: #fafafa;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 10px;
}

nav ul li a {
    color: #AAAAAA;
    text-align: center;
    text-decoration: none;
}

nav ul li:hover a {
    color: #FAB21D;
}

/*
    Container
*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*
    SECTION PRESENTATION
*/
#presentation {
    display: flex;
    margin: 100px 0;
}

#presentation #presentationInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 60px;
}

#presentation p {
    color: #AAAAAA;
    font-size: 20px;
}

#presentation img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

#presentation button {
    background-color: #FAB21D;
    font-size: large;
    padding: 15px 10px;
    font-weight: bold;
    border-radius: 30px;
    width: 250px;
}

/*
    Section Dice
*/
#sectionDice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
Dice Styles
*/
.containerDice {
    display: grid;
    place-items: center;
    width: 250px;
    height: 300px;
    padding: 60px 0 40px;
    border-radius: 30px;
    background: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient(145deg, #dddbd8, #fff);
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
    width: 30px;
    height: 30px;
    background: #131210;
    margin: -15px 0 0 -15px;
}

.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
        0 25px,
        40px 25px,
        0 50px,
        40px 50px;
}

.top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
        52px 52px,
        52px 0,
        0 52px;
}

.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
        0 40px,
        40px 40px;
}

.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
        50px 50px;
}

/*
    Roll Button styles
*/
.roll {
    cursor: pointer;
    color: #FAB21D;
    margin-top: 60px;
    padding: 6px 12px;
    border-radius: 3px;
    font: 700 16px 'Montserrat';
    border: 2px solid #FAB21D;
    background-color: #000000;
    transition: .2s;
}

.roll:hover {
    color: #000000;
    background: #FAB21D;
}

/*
    Message Dice
*/
.message {
    font: 700 16px 'Montserrat';
    margin: 20px 0;
    color: #AAAAAA;
}

h2 {
    color: #FAB21D;
    font-size: xx-large;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    margin: 15px 0;
    color: #fff;
}

h4 {
    margin-left: 20px;
    font-size: x-large;
    font-weight: 800;
}

span.h2-line {
    border: solid 1px #FAB21D;
    width: 200px;
    margin: 0 auto;
    display: block;
}

/*
    username and menu
*/
.validBtn {
    cursor: pointer;
    color: #FAB21D;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 6px 12px;
    border-radius: 3px;
    font: 700 16px 'Montserrat';
    border: 2px solid #FAB21D;
    background-color: #000000;
    transition: .2s;
}
.validBtn:hover {
    color: #000000;
    background: #FAB21D;
}
input#username{
    width: 200px;
    font: 700 16px 'Montserrat';
    padding: 12px 20px;
    border-radius: 3px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #000000;
    border: solid 2px #FAB21D;
    color: #fff;
}
input#menu{
    width: 100%;
    font: 700 16px 'Montserrat';
    padding: 12px 20px;
    border-radius: 3px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #000000;
    border: solid 2px #FAB21D;
    color: #fff;
}

/*
    Section Category burger
*/
.allBurgersCategory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.BurgerInCategory {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    margin: 50px;
}

.BurgerInCategory img {
    border-radius: 30px;
}

.BurgerTitleDescription p {
    color: #AAAAAA;
    font-size: 12px;
    text-align: center;
    height: 75px;
}

.AllPricesInCategory {
    margin-top: 5px;
}

.burgerPrice {
    color: #FAB21D;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.burgerPrice .SoloOrMenu {
    display: flex;
    align-items: center;
}

.burgerPrice button {
    background-color: #FAB21D;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.burgerPrice button:hover {
    cursor: pointer;
}

.burgerPrice button:hover .fa-plus {
    transform: rotate(90deg);
}

.burgerPrice button .fa-plus {
    font-size: x-large;
    font-weight: bold;
    transition: all 0.3s;
}

/******************** BURGER MENU NAV ****************************/
.burger {
    display: none;
}

@media screen and (max-width: 1000px) {

    .burger {
        display: block;
        position: absolute;
        width: 32px;
        height: 24px;
        right: 35px;
        top: 40px;
        cursor: pointer;
    }

    .burger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
    }

    .burger span::before,
    .burger span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        transition: transform 0.5s ease-in-out;
    }

    .burger span::before {
        transform: translateY(-10px);
    }

    .burger span::after {
        transform: translateY(10px);
    }

    .burger.active span {
        background-color: transparent;
    }

    .burger.active span::before {
        transform: translateY(0) rotateZ(45deg);
    }

    .burger.active span::after {
        transform: translateY(0) rotateZ(-45deg);
    }

    .right-part-line-bar {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        top: 75px;
        left: -100%;
        background-color: #000000;
        transition: left 0.8s ease-in-out;
    }

    .right-part-line-bar li {
        text-align: center;
    }

    .responsive-show-menu {
        width: 100%;
        padding: 0;
        left: 0px;
        transition: left 0.8s ease-in-out;
    }

    #presentation img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .container {
        margin: 0 20px;
    }

    h1 {
        text-align: center;
    }

    #presentation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #presentationInfos {
        justify-content: center;
        text-align: center;
    }

    #presentationInfos button {
        margin: 20px auto;
    }

    .burgerPrice button:hover .fa-plus {
        transform: rotate(0deg);
    }

    .BurgerInCategory {
        margin: 8px;
    }

    .BurgerInCategory {
        width: 150px;
    }
}